*{
    margin: 10;
    padding: 10;
}

body{
    .poppins-thin {
        font-family: "Poppins", sans-serif;
        /* font-weight: 100;
        font-style: normal; */
        
        
    }
   
}

.font_color{
    color: orange;
}

.halfWidth{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.halfWidth img{
    width: 100%;
}