*{
    margin: 0;
    padding: 0;
}

body{
    .poppins-thin {
        font-family: "Poppins", sans-serif;
        /* font-weight: 100;
        font-style: normal; */
      }
}

h1{
    font-size: 40px;
}

.font_color{
    color: orange;
}